body { 
    background-color: #F5EFE7
}


.landing {
    background-color: #F5EFE7;
}

.projects_container { 
}

footer { 
    background-color: #292929;

}



//F8F9FA
//E9ECEF main 
//DEE2E6
//CED4DA
//ADB5BD 
//6C757D projects
//495057
//343A40
//212529