body {
    background-color: #E9ECEF;
    color: rgb(0, 0, 0);
}

#projects { 
    background-color: #585856;
}


//F8F9FA
//E9ECEF main 
//DEE2E6
//CED4DA
//ADB5BD 
//6C757D projects
//495057
//343A40
//212529