@import url('https://use.typekit.net/iyz2nwd.css');


html {font-size: 100%;} /*16px*/

body {
  font-family: 'mundial', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #404040;  
}

#footer_sub {
  color: #fff;
}


h1, h2, h3, h4, h5 {
  font-family: 'mundial', sans-serif;
  font-weight: 600;
  font-style: 'normal';
  color: #333333;
}

#footer_sub { 
  color:#F5EFE7; 
}

h1 {
  font-size: 3.250rem;
}

h2 {
  font-size: 2.441rem;}


h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}
