
#see_btn {
    text-decoration: underline;
    color: #fff;
    background-color: #292929;
    border: none;
    border-radius: 4vh;
    width: 17.5%;
    height: 4%;
    margin-top: 40px;
    margin-left: 35%;
    padding-bottom: 1%;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */

  }

  #see_btn_landing {
    text-decoration: underline;
    color: #fff;
    background-color: #292929;
    border: none;
    border-radius: 4vh;
    width: 17.5%;
    height: 5%;
    margin-left: 30%;
    margin-top: 7.5vh;
    padding-bottom: 2%;
    display: none;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */

  }

  #see_btn_landing a{ 
    display: inline-block;
    color: #fff;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */
}

  #see_btn_landing a:hover { 
    transform: scale(1.2);
}



#see_btn a{ 
  display: inline-block;
  color: #fff;
  transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */
}

#see_btn a:hover { 
  transform: scale(1.2);
}

#introduction_see_btn {
  text-decoration: none;
  color: #fff;
  background-color: #F17256;
  border: none;
  border-radius: 0.5vh;
  width: 40%;
  height: 7.5%;
  margin-top: 40px;
  padding-bottom: 1%;
  transition: all 0.5s ease; 
  margin-left: 1%;
}

#introduction_see_btn a{ 
  display: inline-block;
  color: #fff;
  transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */
}


#introduction_see_btn a:hover { 
  transform: scale(1.2);
}

#back_to_top {
  width: 5vw;
  height: 7vh;
  background-color: #404040;
  position: fixed;
  right: 4vw;
  bottom: 0;
  border-radius: 60% 60% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back_to_top > span {
  font-size: 275%;
  width: auto;
  color: #f5efe7;
  cursor: pointer;
  
}

#back_to_top a { 
  text-decoration: none;
  color: #f5efe7;

}

#back_to_top_btn {
  transition: color 0.5s ease;
}


#back_to_top_btn :hover {
  color: #404040;
}