footer { 
    display: flex; 
    align-items: center;
    justify-content: center;
    min-width: 1280px;
    min-height: 40vh;
    background-color: #2D2C2C;

}

.footer_box { 
    max-width: 72.5%;
    min-height: 20vh;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_box > * { 
    align-items: center;
    max-height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-basis: 1;
    flex-grow: 1;
}


.footer_one > a > img {
    margin: 10% 0;
    max-width: 90%;
}

.footer_one > h3{
    color: #fff;
    font-size: 1.45rem;
    margin: 0;
}

.footer_col { 
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.footer_col > a { 
    text-decoration: none;
    color: #fff;
}

.footer_col > a:hover { 
    text-decoration: underline;
    color: #fff;
}
.footer_col > h4{ 
    color: #fff;
    text-decoration: underline;
}
.footer_one > img { 
    max-width: 80%;
    width: 70%;
}

.logo_box {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    flex-grow: 1;
    flex-basis: 1;
}
.logo_box > a > img{
    max-height: 75%;
}