footer { 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #333333;
    width: 100vw;
}

.footer_box {  
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "col_logo col_pages col_projects col_contact"
      "col_social col_social col_social col_social";
  }
  
  .col_logo { grid-area: col_logo; }
  
  .col_pages { grid-area: col_pages; }
  
  .col_projects { grid-area: col_projects; }
  
  .col_contact { grid-area: col_contact; }
  
  .col_social { grid-area: col_social; }
  