.landing {  
    width:100vw;
    height: 90vh;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  
  
  .landing_bottom { 
    text-align: center;
    margin: 0;
}
  
  .landing_right { 
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
  }

  .landing_right img { 
    min-width: 350px;
    min-height: 600px;
    max-width: 550px;
    max-height: 830px;
  }

  .landing_left { 
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 55%;
    max-height: 60%;
    overflow: hidden;

  }

  .landing_left button {
    text-decoration: underline;
    color: #fff;
    background-color: #292929;
    border: none;
    border-radius: 15px;
    width: 19.5%;
    height: 6.5%;
    padding-bottom: 2%;
    align-self: center;
    justify-self: center;
    margin-top: 40px;
  }

  .landing_left button a  {
  color: #fff;
  }

  .landing_left_textbox { 
    max-width: 100%;
    max-height: 100%;
  }