.landing {  
    width: 100dvw;
    min-height: 600px;
    max-height: 70vh;
    min-width: 1400px;
  }
  
  
  .landing_bottom { 
    text-align: center;
    margin: 0;
}
  
  .landing_right { 
    display: flex;
    justify-content: start;
    width: 90%;
    height: 100%;
  }

  .landing_right img { 
    min-height: fit-content;
    margin-left: 3.5%;
  }

  .landing_left { 
    display: flex;
    flex-direction: column;
  }

 