header {
    padding: 1em 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

nav {
    width: 70dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 7.5vw;
    min-width: 120px;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */

}

.nav-links {
    width: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-weight: 600;
}

.nav-links li a {
    display: inline-block;
    font-size: 1.15vw;
    text-decoration: none;
    color: #292929;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */

}

.nav-links li a:hover {
    color: #404040; /* This will enlarge the logo by 10% when hovered */
    transform: scale(1.2);
}


.logo :hover {
    transform: scale(1.2); /* This will enlarge the logo by 10% when hovered */
}
