header {
    padding-top: 1%;
    width: 100vw;
    min-width: 1280px;
    display: flex;
    justify-content: center;
}

nav {
    min-width: 930px;
    width: 74dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo {
    width: 7.5vw;
    min-width: 120px;
    transition: all 1s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */
}

.logo > img {
    transition: all 1s ease; 

}

.nav-links {
    min-width: 280px;

    width: 28.5%;
    list-style: none;
    display: flex;
    justify-content: start;
    gap:12%;
    font-weight: 600;
}

.nav-links li a {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    color: #292929;
    transition: all 0.5s ease; /* This will apply the transition to all properties. Adjust the duration (0.3s) as needed */

}

.nav-links li a:hover {
    color: #404040; /* This will enlarge the logo by 10% when hovered */
    transform: scale(1.2);
    text-decoration: underline solid 2px;
}


.logo :hover {
    transform: scale(1.2); /* This will enlarge the logo by 10% when hovered */
}
