nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
}
header {
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.logo {
    width: 4.5%;
    min-width: 30px;
}

.logo img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
}

.nav-links {
    width: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #d63621; /* Change the color on hover */
}