body {
 overflow-x: hidden;
}
.top_img_box { 
    max-height: 40vh;
    overflow: hidden;
}

.project_top_img { 
    max-height: auto;
    min-width: 100%;
}

.project_sections { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_section { 
    max-width: 50%;
    //border: 1px solid red ;
}

#introduction {  
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.8fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      "introduction_left introduction_right"
      ". .";
}
  
  .introduction_left { 
    grid-area: introduction_left;
    max-width: 80%;
}

.introduction_left > h5{ 
    margin: 1.5% 0;
    font-weight: 400;
    color: #404040;
    line-height: 1;
    line-break:normal;
}

.introduction_left > button { 
    margin-top: 7.5%;
}
  
  
.introduction_right { 
    margin-top: 7%;
    justify-self: end;
    grid-area: introduction_right;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}   

.introduction_right > p { 
    margin: 2% 0;
}

#overview {  
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "overview_top overview_top overview_top"
      "overview_roles overview_tools overview_duration"
      ". . .";
  }
  
.overview_top { 
    margin-top: 5%;
    margin-bottom: 5%;
    grid-area: overview_top;
 }

.overview_top > h3 { 
    text-align: center;
    margin-bottom: 3%;
 }

.overview_roles { 
    grid-area: overview_roles;
 }

.overview_tools { 
    grid-area: overview_tools;
 }

.overview_duration { 
    grid-area: overview_duration;
 }

 #problem_statement { 
    max-width: 100%;
    min-height: 80vh;
    background-color:#EDE1D1 ;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #problem_statement > p {
    max-width: 70%;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    font-size: 3rem;
 }

 #problem_statement > h2 {
    max-width: 65%;
    text-transform:uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 3%;
    font-size: 2.5rem;
    color: #ffffff;
 }

 #solution { 
    text-align: center;
    min-height: 50vh;
 }

 #solution > h3 {
    margin-bottom: 2%;
 }

 .solution_vid { 
    margin-top: 3%;
    aspect-ratio: 16/9;
    min-width: 100%;
 }

 #process {  
    text-align: center;
    min-height: 70vh;
    min-width: 100%;
    background-color: #EDE1D1;
    display: grid;
    grid-template-columns: 1.5fr 1.9fr 1.5fr;
    grid-template-rows: 0.25fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "process_top process_top process_top"
      "process_left process_middle process_right";
  }

  
  .process_top { 
    grid-area: process_top; 
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .process_top > h3 { 
    margin-top: 3%;
    margin-bottom: 1%;
  }
  .process_top > p { 
    max-width: 50%;
    text-align: center;
}
  
  .process_left {
    grid-area: process_left;
    flex-direction: column;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

  .process_left > .iteration { 
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 40%;
  }
  
  .process_right {
     grid-area: process_right; 
     flex-direction: column;
     display: flex;
     align-items: start;
     justify-content: space-around;
   }

   .process_right > .iteration { 
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    width: 40%;
  }
  
  .process_middle { 
    grid-area: process_middle;
   }

   .project_iteration {
    min-height: 60vh;
    max-width: 50vw;
   }

   .project_iteration > .iteration { 
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
   }

   .iteration_discover > .callout {
    padding: 3%;
   }

   .iteration_discover > h4 { 
    margin-top: 2%;
    margin-bottom: 2%;
   }

   .methods_gallery { 
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap:1.5%;
    align-items: stretch;
   }


   .method > h5 {
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 1;
    font-weight: 400;
   }

   .method > p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1;
    line-break:loose;
    margin-bottom: 3%;
    color: #797777;
   }

   .method > img { 
    border-radius: 0.5vw;
    max-height: 60%;
    width: 100%;
   }

   .method { 
    flex: 1;    
    flex-basis: 25%;
    height: 30%;
   }

   #see_method { 
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
   }

   #see_method > p {
    color: #F17256;
   }

   .material-symbols-outlined { 
    margin-left: 3%;
    margin-bottom: 2%;
    color: #F17256;
   }
   .methods_gallery > :nth-child(4) {
    flex-grow: 1;
}



//COMPONENTS

#sec_div { 
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: #797777;
    border-radius: 1%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;


}
.three_divs > h4 { 
    margin-top:5%;    
    margin-bottom: 2.5%;    
}
.overview_roles > #sec_div { 
    width: 95%;
    margin-left: 0;
    margin-right: 5%;

}
.overview_tools > #sec_div { 
    width: 95%;
    margin-left: 2.5%;
    margin-left: 2.5%;
}
.overview_duration > #sec_div { 
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
}

.overview_top > #sec_div {
    width: 100%;
    margin-left: 0;
}

.callout { 
    width: 100%;
    padding: 5% 5%;
    background-color: #ffffff;
    text-align: center;
}

.three_divs { 
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.overview_roles > .three_divs { 
    width: 80%;
    margin-left: 5%;
    margin-right: 10%;

}
.overview_tools > .three_divs { 
    width: 80%;
    margin-left: 10%;
}
.overview_duration > .three_divs { 
    width: 80%;
    margin-left: 10%;
    margin-right: 0;
}
