.projects_top { 
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.projects_container { 
    width: 100vw; 
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.projects {  
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}    

.projects > a {
    text-decoration: none;
    color: #404040;  
}

#project {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 40%;
    max-height: 100%;
    margin-bottom: 3%;
    background-color: #fff;
    border-radius: 15px;
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

#project:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

#project > .project_img {
    display: inline-block;
    width: 55.5%;
    height:auto;
    border-radius: 15px;
    max-height: 395px;
    overflow:hidden;
}

#project:hover {
    transform: scale(1.05); /* Apply a scale transformation on hover */
}

#project > .project_info { 
    width: 62.5%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 62.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.project_date { 
    position: absolute;
    right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.project_title { 
    margin-top: 10%;
    line-height: 1;
}

.project_subtitle { 
    color: #6E6F6C;
}

.project_description { 
    line-height: 1;
    margin-top: 1%;
    font-weight: 400;
    text-align: justify;
}

.project_tags{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5%;
}

.tag { 
    text-align: center;
    padding-right: 2.5%;
    padding-left: 2.5%;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 2%;
}

#ur_tag { 
    border: 3px solid #3CC58C;
}

#ux_tag { 
    border: 3px solid #386F98;
}

#up_tag { 
    border: 3px solid #E9641C;
}

#ui_tag { 
    border: 3px solid #dce927;
}

#right_arrow {
    position: absolute;
    font-size: 300%;
    right: 5%;
    bottom: 5%;
}




