

.nav_left { 
    z-index: 999;
    position: fixed;
    left:0;
    top: 25%;
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.iteration > h5 { 
    margin: 0;
    line-height: 1;
    color:#717171 ;
    font-size: 1rem;
}

.iteration { 
    width: 50%;
}

.iteration > p { 
    margin-left: 10%;
    display: none;
}

