.project_top > img { 
    width: 100%;
    border-radius: 1.5%;
}

#project {
    display: flex;
    width: 100%;
    height: 100%;
}

.projects_top { 
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

//HOVER EFFECT// 

#project {
    border-radius: 1.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
}

/* Hover styles for the project sections */
#project:hover {
    background-color: #3f3f3f;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow on hover */
}
.project_top {
    position: relative;
    width:100%;
}

.project_top:hover .img_overlay {
    transform: scale(1);
  }

.img_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c62;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    border-radius: 1.5%;
  }
  
  /* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
  .text_overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }