.project_top > img { 
    width: 100%;
}

.projects_top { 
    display: flex;
    justify-content: center;
}

#project {
    width: 40%;
    height: 40%;
    justify-content: center;
    margin: 10%;
}