.projects_section { 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.projects_header {
    margin-top: 3%;
    margin-bottom: 3%;
}


#hology_link > #arrow{ 
    color: #333333;
    margin: 0;
}

#hology_link { 
    max-width: 90%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    min-height: 10%;

}

.project {
    margin-bottom: 3vh;
    max-width: 70vw;
    min-height: 40vh;
    max-height: 45vh; 
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 4%;
    flex-direction: row;
    border-radius: 1vw;
}

#project_two { 
    flex-direction: row-reverse;
}

.img_frame { 
    max-width: 45%; 
    overflow: hidden;
    border-radius: 1vw;
}

.img_frame > img {
    height: 100%;
    border-radius: 1vw;
    width: 100%;
}

.project_info { 
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 50%;
}

.project_info > * { 
    flex: 1 1 80%; /* Grow, shrink, base width */
    max-width: 80%;
}


.project_info > h3 { 
    margin: 0;
}
.project_des{ 
    overflow: hidden;
    text-overflow:clip;
    min-height: 35%;
    max-height: 40%;

}


.tags { 
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1%;
    flex-wrap: wrap;
    max-width: 80%;
}

.tags > * { 
    max-width: 45%;
    margin-top: 1%;
    font-size: 1rem;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 30vh;
    font-weight: 500;
    line-height: 1;

}

#UI { 
    border: #3CC58C 2px solid ;    
}

#UX { 
    border: #386F98 2px solid ;    
}

#UR { 
    border: #E9641C 2px solid ;    
}

.project_date {
    align-self: flex-end;
    position: relative;
    top: 5%;
    right: 3%;
}

#arrow { 
    position: relative;
    left: 5%;
    height: auto;
    font-size: 2.5rem;
}

