body { 
    max-width: 100%;
}
.aboutme_landing {
    width: 75vw;
    height: 90vh;
    max-height: 100%;
    margin-left: 12.5vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;

}

.aboutme_image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.aboutme_image > img { 
    margin-top: 4.5%;
    width: 60%;
}

.aboutme_description { 
    width: 45%;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-overflow: ellipsis;
    overflow: hidden;
}


.aboutme_description > p { 
    font-size: 0.95rem;
    line-break: normal;
    width:90%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aboutme_skills { 
    width: 100vw;
    height: 90vh;
    background-color: #EDE1D1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}


#Methods_and_Skills { 
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width: 42.5%;
    gap: 2.25%
}


#methods { 
    color: #292929;
}

#and { 
    color: #F5EFE7;

}

#tools { 
    color: #F5EFE7;
}

#methods_chart { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 40%;
    height:100%;
    overflow: hidden;
}

#tools_chart { 
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 40%;
    height:100%;
    overflow: hidden;

}

